<body class= "body">
<%= stylesheet_link_tag "towits" %>
<p>
  <strong>Content:</strong>
  <%= @towit.content %>
</p>

<%= link_to 'Edit', edit_towit_path(@towit) %> |
<%= link_to 'Back', towits_path %>
</body>
